@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/functions";

.about {
  position: relative;
  padding-top: px2rem(120);
  margin-bottom: $margin-section-xs;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 30vw;
    z-index: -1;
    width: px2rem(356);
    height: px2rem(194);
    content: "";
    background-image: url("../img/svg/aw-logo-icon.svg");
    background-repeat: no-repeat;
    background-size: px2rem(356);
  }

  @media (min-width: $bp-md) {
    padding-top: 0;
    margin-bottom: $margin-section-lg;

    &::before {
      position: absolute;
      top: 0;
      right: -20vw;
      left: auto;
      z-index: -1;
      width: 70%;
      height: 100%;
      content: "";
      background-image: url("../img/svg/aw-logo-icon.svg");
      background-repeat: no-repeat;
      background-size: px2rem(856);
    }
  }
}

.about__title {
  margin-bottom: px2rem(72);
}

.about__content-blocks-wrapper {
  @media (min-width: $bp-md) {
    display: flex;
    align-items: center;
  }
}

.about__description {
  margin-bottom: px2rem(32);

  @media (min-width: $bp-md) {
    order: 2;
    margin-bottom: 0;
    color: $color-text-primary;
  }
}

.about__numeral-blocks {
  @media (min-width: $bp-md) {
    order: 1;
    min-width: 24%;
    margin-right: 6vw;
  }
}

.about__numeral-block {
  @include remove-indents;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-text-primary;

  &:not(:nth-last-child(1)) {
    margin-bottom: px2rem(20);
  }

  @media (min-width: $bp-md) {
    display: block;

    &:not(:nth-last-child(1)) {
      margin-bottom: px2rem(40);
    }
  }
}

.about__numeral-block:not(.about__numbers) {
  font-size: px2rem(16);
  font-weight: 800;
  text-align: right;
  letter-spacing: px2rem(3);

  @media (min-width: $bp-md) {
    text-align: left;
  }
}

.about__numbers {
  width: 50%;
  margin-right: px2rem(40);
  font-size: px2rem(56);
  font-weight: 200;
  text-align: left;

  @media (min-width: $bp-md) {
    margin-right: 0;
  }

  @media (min-width: $bp-lg) {
    font-size: px2rem(72);
  }
}
