@import "../utilities/variables";

.container {
  width: 100%;
  height: 100%;
  padding: 0 6vw;
  margin: 0 auto;

  @media (min-width: $bp-xxl) {
    max-width: px2rem(1280);
    padding: 0;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
