@import "../utilities/variables";

.feedback {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: px2rem(600);
  background-image: url("../img/argon-welding-cover-02-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $bp-md) and (max-width: $bp-lg) {
    background-image: url("../img/argon-welding-cover-02-tablet.jpg");
  }

  @media (min-width: $bp-lg) and (max-width: $bp-xxl) {
    background-image: url("../img/argon-welding-cover-02-desktop.jpg");
  }

  @media (min-width: $bp-xxl) {
    background-image: url("../img/argon-welding-cover-02-wide-desktop.jpg");
  }
}

.feedback__fluid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media (min-width: $bp-lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.feedback__description-block {
  @media (min-width: $bp-lg) {
    width: 44%;
  }
}

.feedback__title {
  margin-bottom: px2rem(16);
  text-align: center;

  @media (min-width: $bp-lg) {
    text-align: left;
  }
}

.feedback__description {
  margin-bottom: px2rem(12);
  text-align: center;

  @media (min-width: $bp-lg) {
    text-align: left;
  }
}

.feedback__form {
  width: 100%;

  @media (min-width: $bp-lg) {
    width: 44%;
  }
}

.feedback__input {
  margin-bottom: px2rem(20);
}


.feedback__checkbox {
  margin-bottom: px2rem(40);
}

.feedback__btn {
  width: 100%;
}
