@import "../utilities/variables";
@import "../utilities/functions";

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: px2rem(600);
  margin-bottom: $margin-section-xs;
  background-image: url("../img/argon-welding-cover-01-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-width: $bp-md) {
    margin-bottom: 12vh;
  }

  @media (min-width: $bp-lg) {
    margin-bottom: $margin-section-lg;
  }

  @media (min-width: $bp-md) and (max-width: $bp-lg) {
    background-image: url("../img/argon-welding-cover-01-tablet.jpg");
  }

  @media (min-width: $bp-lg) and (max-width: $bp-xxl) {
    background-image: url("../img/argon-welding-cover-01-desktop.jpg");
  }

  @media (min-width: $bp-xxl) {
    background-image: url("../img/argon-welding-cover-01-wide-desktop.jpg");
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12vh;

  @media (min-width: $bp-lg) {
    justify-content: space-between;
    padding-top: 8vh;
    margin-bottom: 16vh;
  }
}

.header__logo {
  width: px2rem(100);
  margin-bottom: 8vh;

  @media (min-width: $bp-md) {
    width: px2rem(140);
  }

  @media (min-width: $bp-lg) {
    margin-bottom: 0;
  }
}

.header__phone-block {
  margin-right: px2rem(40);
}

.header__contacts-block {
  display: none;

  @media (min-width: $bp-lg) {
    display: flex;
    align-items: center;
  }
}

.header__description-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $bp-lg) {
    align-items: flex-start;
  }
}

.header__title {
  margin-bottom: px2rem(20);
  text-align: center;

  @media (min-width: $bp-lg) {
    margin-bottom: 4vh;
    text-align: left;
  }
}

.header__description {
  margin-bottom: 20vh;
  font-size: px2rem(20);
  line-height: 150%;
  color: $color-text-primary;
  text-align: center;

  @media (min-width: $bp-lg) {
    position: relative;
    margin-bottom: 6vh;
    text-align: left;
    transform: translateX(px2rem(24));

    &::before {
      position: absolute;
      top: px2rem(-8);
      left: px2rem(-24);
      width: px2rem(2);
      height: px2rem(80);
      content: "";
      background-color: $color-surface-light;
    }
  }
}
