@import "../utilities/variables";
@import "../utilities/functions";

.header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/argon-welding-cover-01-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $bp-md) and (max-width: $bp-lg) {
    background-image: url("../img/argon-welding-cover-01-tablet.jpg");
  }

  @media (min-width: $bp-lg) and (max-width: $bp-xxl) {
    background-image: url("../img/argon-welding-cover-01-desktop.jpg");
  }

  @media (min-width: $bp-xxl) {
    background-image: url("../img/argon-welding-cover-01-wide-desktop.jpg");
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8vh;

  @media (min-width: $bp-lg) {
    justify-content: space-between;
    margin-bottom: 16vh;
  }
}

.header__logo {
  margin-bottom: 8vh;

  @media (min-width: $bp-lg) {
    margin: 0;
  }
}

.header__logo-img {
  @media (min-width: $bp-lg) {
    width: 140px;
  }
}

.header__phone-block {
  margin-right: 40px;
}

.header__contacts-block {
  display: none;

  @media (min-width: $bp-lg) {
    display: flex;
    align-items: center;
  }
}

.header__description-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $bp-lg) {
    align-items: flex-start;
  }
}

.header__title {
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $bp-lg) {
    margin-bottom: 4vh;
    text-align: left;
  }
}

.header__description {
  margin-bottom: 20vh;
  font-size: px2rem(20);
  color: $color-text-primary;
  text-align: center;

  @media (min-width: $bp-lg) {
    position: relative;
    margin-bottom: 6vh;
    text-align: left;
    transform: translateX(24px);

    &::before {
      position: absolute;
      top: -8px;
      left: -24px;
      width: 2px;
      height: 80px;
      content: "";
      background-color: $color-surface-light;
    }
  }
}
