@import "../utilities/variables";
@import "../utilities/functions";

.reviews {
  margin-bottom: $margin-section-xs;

  @media (min-width: $bp-lg) {
    margin-bottom: $margin-section-lg;
  }
}

.reviews__title {
  margin-bottom: px2rem(24);

  @media (min-width: $bp-lg) {
    margin-bottom: px2rem(40);
  }
}
