@import "../utilities/variables";
@import "../utilities/functions";
@import "../utilities/mixins";

.accordion__item {
  &:not(:nth-last-child(1)) {
    margin-bottom: px2rem(8);
  }
}

.accordion__body {
  @include transition(padding, 0.6);
  padding: 0 px2rem(20) px2rem(20);
  overflow-y: hidden;
  line-height: 180%;
  background-color: $color-onsurface-lighten-dark;

  @media (min-width: $bp-md) {
    padding: 0 px2rem(40) px2rem(20);
  }
}

.accodrion__icon {
  @include transition([fill, transform], 0.3);
  position: absolute;
  top: 0;
  right: px2rem(20);
  width: px2rem(24);
  height: 100%;
  fill: $color-onsurface-grey;
  transform: rotate(0);

  @media (min-width: $bp-md) {
    right: px2rem(40);
    width: px2rem(32);
  }
}

.icon-path {
  @include transition([fill, transform], 0.3);
  transform-origin: center center;
}

.icon-transform .icon-path {
  transform: rotate(180deg);
}

.accordion__button {
  @include transition(color, 0.3);
  position: relative;
  width: 100%;
  padding: px2rem(24) px2rem(64) px2rem(18) px2rem(20);
  color: $color-text-secondary;
  text-align: left;
  cursor: pointer;
  background-color: $color-onsurface-lighten-dark;
  border: 0;
  outline: none;

  &:hover .accodrion__icon,
  &:focus .accodrion__icon {
    fill: $color-onsurface-light;
  }

  &:hover,
  &:focus {
    color: $color-text-primary;
  }

  @media (min-width: $bp-md) {
    padding: px2rem(20) px2rem(112) px2rem(18) px2rem(40);
  }
}

.accordion__inner-content {
  @include animation(accordion-show, 0.6);
  opacity: 100%;
}

.collapsed {
  padding-bottom: 0;

  @media (min-width: $bp-md) {
    padding-top: 0;
  }
}

.collapsed .accordion__inner-content {
  @include animation(accordion-collapse, 0.3);
  line-height: 1%;
  opacity: 0%;
  transform: translateY(-20px);
}
