@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/functions";

.btn {
  display: inline-block;
  width: 100%;
  padding: px2rem(20) 0 px2rem(16);
  font-size: px2rem(18);
  font-weight: 800;
  color: $color-text-dark;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: px2rem(3);
  background-color: $color-surface-light;
  border: none;
  @include transition(all, 0.6);

  @media (min-width: $bp-md) {
    position: relative;
    width: auto;
    padding: px2rem(20) px2rem(56) px2rem(16);
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color-text-primary;
      background-color: transparent;
      outline: none;
    }

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: px2rem(2);
      content: "";
      background-color: $color-onsurface-light;
      @include transition(all, 0.3);
    }

    &::after {
      top: inherit;
      right: inherit;
      bottom: 0;
      left: 0;
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after, {
      width: 100%;
    }
  }
}

