@import "../utilities/mixins";
@import "../utilities/variables";

.social-network {
  @include remove-indents;
  display: flex;
  list-style: none;
}

.social-network__icon {
  width: 32px;
  fill: $color-onsurface-light;
}

.social-network__item {
  @include transition(background-color, 0.3);
  background-color: $color-surface-light-opacity;

  &:not(:nth-last-child(1)) {
    margin-right: 8px;
  }

  &:hover,
  &:focus {
    @include animation(scalable, 0.6);
    background-color: $color-surface-light;
  }

  &:hover .social-network__icon,
  &:focus .social-network__icon {
    fill: $color-onsurface-dark;
  }
}

.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
