{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": [
          "./tasks/*.js",
          "./gulpfile.babel.js"
        ]
      }
    ]
  }
}
