@import "./variables";

@mixin remove-indents {
  padding: 0;
  margin: 0;
}

@mixin transition($property, $duration) {
  transition-timing-function: ease;
  transition-duration: $duration + s;
  transition-property: $property;
}

@mixin animation($name, $duration) {
  animation-name: $name;
  animation-duration: $duration + s;
  animation-timing-function: ease;
}
