// -------------------------------------------- //
// Variables ---------------------------------- //
// -------------------------------------------- //

$black: rgb(17 17 17);
$white: rgb(248 248 248);
$white-opacity: rgb(248 248 248 / 4%);
$grey: rgb(176 176 176);

$color-bg: $black;
$color-text-secondary: $grey;

$bp-sm: 480px;
$bp-md: 720px;
$bp-lg: 960px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
