// -------------------------------------------- //
// Colors ------------------------------------- //
// -------------------------------------------- //
$black: rgb(17 17 17);
$white: rgb(248 248 248);
$white-opacity: rgb(248 248 248 / 10%);
$black-opacity: rgb(17 17 17 / 40%);
$grey: rgb(176 176 176);

$color-text-primary: $white;
$color-text-secondary: $grey;
$color-text-dark: $black;

$color-surface-dark: $black;
$color-surface-light: $white;

$color-surface-dark-opacity: $black-opacity;
$color-surface-light-opacity: $white-opacity;

$color-onsurface-dark: $black;
$color-onsurface-light: $white;

// -------------------------------------------- //
// Breakpoints -------------------------------- //
// -------------------------------------------- //

$bp-sm: 480px;
$bp-md: 720px;
$bp-lg: 960px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
