@import "functions";

// -------------------------------------------- //
// Colors ------------------------------------- //
// -------------------------------------------- //
$black: rgb(17 17 17);
$white: rgb(248 248 248);
$grey: rgb(176 176 176);
$black-opacity: rgb(17 17 17 / 64%);
$white-opacity: rgb(248 248 248 / 8%);

$color-text-primary: $white;
$color-text-secondary: $grey;
$color-text-dark: $black;

$color-surface-dark: $black;
$color-surface-light: $white;

$color-surface-dark-opacity: $black-opacity;
$color-surface-light-opacity: $white-opacity;

$color-onsurface-dark: $black;
$color-onsurface-light: $white;
$color-onsurface-grey: $grey;

// -------------------------------------------- //
// Breakpoints -------------------------------- //
// -------------------------------------------- //

$bp-sm: px2rem(480);
$bp-md: px2rem(720);
$bp-lg: px2rem(960);
$bp-xl: px2rem(1200);
$bp-xxl: px2rem(1400);

// -------------------------------------------- //
// Margins -------------------------------- //
// -------------------------------------------- //

$margin-section-xs: 16vh;
$margin-section-lg: 24vh;
