// -------------------------------------------- //
// Final file --------------------------------- //
// -------------------------------------------- //

@import "./vendors/normalize";

@import "./base/fonts";
@import "./base/common";
@import "./base/typography";
@import "./base/animations";

@import "./components/button";
@import "./components/social-network";
@import "./components/phone-block";
@import "./components/checkbox";
@import "./components/input";
@import "./components/accordion";

@import "./layout/container";
@import "./layout/header";
@import "./layout/about";
@import "./layout/features";
@import "./layout/weld-features";
@import "./layout/gallery";
@import "./layout/guarantee";
@import "./layout/feedback";
@import "./layout/footer";
