// -------------------------------------------- //
// Final file --------------------------------- //
// -------------------------------------------- //

@import "./vendors/normalize";

@import "./base/fonts";
@import "./base/common";
@import "./base/typography";

@import "./components/button";
@import "./components/social-network";
@import "./components/phone-block";

@import "./layout/container";
@import "./layout/header";
@import "./layout/about";
@import "./layout/features";
@import "./layout/weld-features";
@import "./layout/gallery";
@import "./layout/guarantee";
