@keyframes scalable {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes accordion-show {
  0% {
    line-height: 1%;
    opacity: 0%;
    transform: translateY(-20px);
  }

  50% {
    line-height: 180%;
    opacity: 0%;
    transform: translateY(-10px);
  }

  100% {
    line-height: 180%;
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes accordion-collapse {
  0% {
    line-height: 180%;
    opacity: 100%;
    transform: translateY(0);
  }

  50% {
    line-height: 180%;
    opacity: 0%;
    transform: translateY(-10px);
  }

  100% {
    line-height: 1%;
    opacity: 0%;
    transform: translateY(-20px);
  }
}
