// -------------------------------------------- //
// Final file --------------------------------- //
// -------------------------------------------- //

@font-face {
  font-family: "Martel Sans";
  font-style: normal;
  font-weight: 900;
  src:
    url("../fonts/martelsans-black.woff2") format("woff2"),
    url("../fonts/martelsans-black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Martel Sans";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/martelsans-extrabold.woff2") format("woff2"),
    url("../fonts/martelsans-extrabold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Martel Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/martelsans-bold.woff2") format("woff2"),
    url("../fonts/martelsans-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Martel Sans";
  font-style: normal;
  font-weight: 600;
  src:
    url("../fonts/martelsans-semibold.woff2") format("woff2"),
    url("../fonts/martelsans-semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Martel Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/martelsans-regular.woff2") format("woff2"),
    url("../fonts/martelsans-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Martel Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/martelsans-light.woff2") format("woff2"),
    url("../fonts/martelsans-light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Martel Sans";
  font-style: normal;
  font-weight: 200;
  src:
    url("../fonts/martelsans-extralight.woff2") format("woff2"),
    url("../fonts/martelsans-extralight.woff") format("woff");
  font-display: swap;
}
