@import "../utilities/variables";
@import "../utilities/functions";
@import "../utilities/mixins";

.section-title {
  @include remove-indents;
  font-size: px2rem(32);
  font-weight: 800;
  line-height: 120%;
  color: $color-text-primary;
  text-transform: uppercase;

  @media (min-width: $bp-md) {
    font-size: px2rem(40);
  }

  @media (min-width: $bp-xl) {
    font-size: px2rem(56);
  }
}

.subtitle {
  @include remove-indents;
  font-size: px2rem(20);
  font-weight: 700;
  line-height: 120%;
  color: $color-text-primary;

  @media (min-width: $bp-md) {
    font-size: px2rem(24);
  }

  @media (min-width: $bp-xl) {
    font-size: px2rem(28);
  }
}

.paragraph {
  @include remove-indents;
  font-size: px2rem(16);
  font-weight: 400;
  line-height: 160%;

  @media (min-width: $bp-md) {
    font-size: px2rem(16);
  }

  @media (min-width: $bp-lg) {
    font-size: px2rem(20);
    line-height: 180%;
  }
}
